body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
}
.navbar-container{
    width: 5%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.856);
    box-sizing: border-box;
}
.title-box{
    width: fit-content;
    height: fit-content;
    padding: 8px 3px;
    margin: 0 auto;
    box-sizing: border-box;
}
.title{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
.icon-container{
    width: 100%;
    height: fit-content;
    padding: 25px 0;
    box-sizing: border-box;
}
.icon-box{
    width: fit-content;
    height: fit-content;
    margin: 15px auto;
    padding: 7px;
    border-radius: 50%;
    box-sizing: border-box;
    color: rgba(231, 227, 227, 0.856);
}
.icon-container .active{
    background-color: #FFD700;
    color: black;
}
.content-container{
    width: 95%;
    min-height: 100vh;
    background-color: rgba(231, 227, 227, 0.856);
    box-sizing: border-box;
}
.content-container nav{
    width: 100%;
    height: fit-content;
    padding: 5px 7px;
    display: flex;
    background-color: white;
    box-sizing: border-box;
    margin: 0;
}
.navbar-title-box{
    width: 50%;
    height: fit-content;
    padding: 7px 25px;
    display: flex;
    box-sizing: border-box;
}
.nav-title{
    margin: -3px 0 0 25px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
.navbar-account-box{
    width: 50%;
    height: fit-content;
    padding: 7px 25px;
    box-sizing: border-box;
}
.acc-title{
    margin: -3px 0 0 25px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}
fa-caret-down{
    margin: 0;
}

.dashboard-container{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    border: 1px solid black;
}
.header-container{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px 40px;
}
.dashboard-header-title-1{
    color: rgb(255, 0, 85);
    margin-bottom: 4px;
}
.dashboard-header-title-2{
    margin-top: 0;
    font-size: 25px;
}
.dashboard-parent-container{
    width: 100%;
    height: fit-content;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    padding: 10px 40px;
}
.activities-container{
    width: 70%;
    height: fit-content;
    border: 1px solid black;
    box-sizing: border-box;
}
.activities-container:nth-child(odd){
    background-color: white;
}
.activities-container:nth-child(even){
    background-color: rgba(207, 200, 200, 0.856)
}
.right-side-container{
    width: 27%;
    height: fit-content;
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin-left: 4%;
}
.product-container{
    width: 100%;
    height: fit-content;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
}
.shortcut-container{
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
}
.activities-container-header{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px 15px;
}
.activities-container-header-title{
    margin: 0;
    font-size: 21px;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




@media screen and (max-width : 915px){
    .title{
        font-size: small;
    }
}
@media screen and (max-width: 535px){
    .title{
        font-size: x-small;
    }
    .icon-box{
        padding: 2px;  
    }
}
@media screen and (max-width: 480px){
    .icon-box{
        padding: 0;
    }
}.activity-containt li{
    list-style-type: none;
    margin-top: 40px;
}
.activity-containt .active{
    background-color: rgb(94, 82, 95);
    color: white;
    font-size: 25px;
    float: left;
    margin-top: 4px;
}
.prduction{
    margin-left: 20px;

}
.production-lebal{
    background-color: rgba(207, 200, 200, 0.856);
    float: left;
    margin-left: 10px;
    width: 70px;
    padding-left: 5px;
    font-size: small;
}
.abc{
    float: left;
}
.test-lebal {
    background-color: black;
    color: white;
    float: left;
    padding-left: 5px;
    font-size: small;
    margin-left: 10px;
    width: 30px;
}
.version {
    float: left;
}
.number {
    background-color: wheat ;
    float: left;
    margin-left: 10px;
    width: 20px;
    border-radius: 25px;
    padding-left: 8px;
}
.text {
    float: left;
    margin-left: 10px;
}
.time-spam{
    float: right;
    margin-right: 30px;
}
.staging-lebal{
    background-color: yellow;
    float: left;
    margin-left: 10px;
    width: 60px;
    padding-left: 5px;
    padding-right: 5px;;
    font-size: small;
}
.qa-lebal{
    background-color: white;
    float: left;
    margin-left: 10px;
    width: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
}
.product-name{
    float: right;
}
.productNumber{
    float: right;
}